# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
.eggs/
build/
dist/
*.egg

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE / OS
.vscode/
.idea/
.DS_Store
__MACOSX/
Thumbs.db

# Jupyter
.ipynb_checkpoints/
